# Spotify Developer Web API Credentials
# You can get these at https://developer.spotify.com/dashboard/
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=19558308ed174b63a90ce64d9221036d
JWT_SECRET=your_jwt_secret_here
